<div class="wrapper">
    <table class="tabela">
                <tr class="redtabele" >
                    <td style="width: 50%;">Корисничко име : {{klijent.username}}</td>
                    <td style="width: 30%;"><input type="text" [(ngModel)]="klijent.username"></td>
                    <td style="width: 20%;"><button class="mojbutton" (click)="azuriraj('username')">Промени</button></td>
                </tr>
                <tr class="redtabele" >
                    <td style="width: 50%;">И-мејл : {{klijent.email}}</td>
                    <td style="width: 30%;"><input type="text" [(ngModel)]="klijent.email"></td>
                    <td style="width: 20%;"><button class="mojbutton" (click)="azuriraj('email')">Промени</button></td>
                </tr>
                <tr class="redtabele" >
                    <td style="width: 50%;">Лозинка : {{klijent.password}}</td>
                    <td style="width: 30%;"><input type="text" [(ngModel)]="klijent.password"></td>
                    <td style="width: 20%;"><button class="mojbutton" (click)="azuriraj('password')">Промени</button></td>
                </tr>
                <tr class="redtabele" >
                    <td style="width: 50%;">Име : {{klijent.ime}}</td>
                    <td style="width: 30%;"><input type="text" [(ngModel)]="klijent.ime"></td>
                    <td style="width: 20%;"><button class="mojbutton" (click)="azuriraj('ime')">Промени</button></td>
                </tr>
                <tr class="redtabele" >
                    <td style="width: 55%;">Презиме : {{klijent.prezime}}</td>
                    <td style="width: 25%;"><input type="text" [(ngModel)]="klijent.prezime"></td>
                    <td style="width: 20%;"><button class="mojbutton" (click)="azuriraj('prezime')">Промени</button></td>
                </tr>
                <tr class="redtabele" >
                    <td style="width: 50%;">Телефон : {{klijent.telefon}}</td>
                    <td style="width: 30%;"><input type="text" [(ngModel)]="klijent.telefon"></td>
                    <td style="width: 20%;"><button class="mojbutton" (click)="azuriraj('telefon')">Промени</button></td>
                </tr>
                <tr class="redtabele">
                    <td style="width: 50%;"><button class="mojbutton" (click)="goBack()">Назад</button></td>
                    <td style="width: 50%;"><button class="mojbutton" (click)="logout()">Одјави се</button></td>
                </tr>
    </table>
</div>