<div class="wrapper">
        <tr class="redtabele">
            <label class="redtabele">Агенција : {{agencija.username}}</label>
        </tr>
        <tr class="redtabele">
            <label class="redtabele">Број радника : {{agencija.brRadnika}}/{{agencija.odobreno}}  </label>
        </tr>
        <hr>
        <table class="tabela" style="width: 100%;padding-left: 10px;">
            <tr *ngFor="let n of radnici" >
                <div class="redtabele">
                    <td style="width: 10%;vertical-align: middle;">{{n.ime}}</td>
                    <td style="width: 10%;vertical-align: middle;">{{n.prezime}}</td>
                    <td style="width: 10%;vertical-align: middle;">{{n.email}}</td>
                    <td style="width: 10%;vertical-align: middle;">{{n.telefon}}</td>  
                    <td style="width: 20%;vertical-align: middle;">{{n.specijalizacija}}</td>  
                    <td style="width: 20%;vertical-align: middle;"><button class="mojbutton" (click)="obrisiRadnika(n)">Обриши</button></td>
                    <td style="width: 20%;vertical-align: middle;"><button class="mojbutton" (click)="azuriraj(n)">Ажурирај</button></td>  
                </div>
                <hr style="padding-bottom: 5px;">
            </tr>
            <tr class="redtabele">
                <button class="mojbutton" (click)="goBack()">Назад</button>
                <button class="mojbutton" (click)="logout()">Одјавите се</button>
            </tr> 
            <hr>
            <tr>
                <button class="mojbutton" (click)="dodajRadnika()">Додај новог радника</button>
            </tr>
        </table>
        
</div>

    



