<div class="wrapper">
    <h1 class="form-row">Добродошли {{klijent.ime}} {{klijent.prezime}}!</h1>
    <hr>
    <label class="form-row" style="font-size:30px;font-weight: bold;" >Главни мени</label>
    <hr>
    <button class="mojbutton" type="button" (click)="profil()">Профил</button>
    <button class="mojbutton" type="button" (click)="objekti()">Објекти</button>
    <button class="mojbutton" type="button" (click)="agencije()">Агенције</button>
    <button class="mojbutton" type="button" (click)="poslovi()">Послови</button> 
    <hr>
    <button class="mojbutton2" type="button" (click)="logout()">Одјавите се</button>
    <br>
</div>